---
---

// Define the character set:
@charset "utf-8";

// Import custom bootstrap (from /_sass/)
@import "bootstrap";

// Import font-awesome
@import "font-awesome-4.4.0/css/font-awesome.min.css";

body {
    background-image: linear-gradient(to right top, #051937, #0c2243, #132b50, #1a345d, #213e6b);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*****************************/
/* START EXTRA CUSTOMIZATION */
/*****************************/

.intro {
    padding: 32px;
    padding-top: 36px;
    min-height: 400px;
    text-align: center;
    width: 100%;

    div {
        vertical-align: middle;

        div.btn-group {
            display: inline-block;
            margin-top: 40px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: #3399CC;
        color: white;
        text-shadow: 1px 1px 1px black;
        text-transform: uppercase;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.18rem;
    }

    h1.logo {
        margin-bottom: 80px;
    }
}

.wrapper {
    margin-top: 0px;
}

.first-band {
    margin-bottom: 40px;
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;

    h2 {
        margin-top: 10px;
    }
}

.whatsup {
    padding-bottom: 20px;
    font-size: 1.6rem;

    hr {
        border-top: 0px dashed #777;
    }

    h4 {
        font-size: 2rem;
    }
}

.img-rounded {
    margin-bottom: 4px;
}

footer.page-footer {
    padding: 8px 0px;
}

.boxed {
    background-image: linear-gradient(to right top, #090a0b, #0e1114, #12171c, #161b23, #19202a);
    padding: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
}